<body>
    <h1>Dream Cars</h1>
    <ul>
    <% dreamCars.forEach(function(car) { %>
        <li>
        <%= car.year %>
            -
        <%= car.model %> 
            ⛽️
        <%= car.year <= 1979 ? ' not yet 😆' : 'YOU WISH!' %>
        </li>
    <% }); %>
    </ul>
</body>